{{#each model.products as |product|}}
  {{#unless product.origin}}
    <p>{{accessories-tile accessory=product}}</p>
  {{/unless}}
  {{#if product.origin}}
    {{coffee-tile coffee=product}}
  {{/if}}
{{/each}}

{{display-cart}}
