<div class="links">


  {{#link-to 'coffee'}}<p class="buttonText"><a id="linkButton" class="waves-effect waves-light btn"><span id="buttonText">coffee</span></a></p>{{/link-to}}
  {{#link-to 'index'}}<p class="buttonText"><a id="linkButton" class="waves-effect waves-light btn"><span id="buttonText">accessories</span></a></p>
  <p class="buttonText"><a id="linkButton" class="waves-effect waves-light btn"><span id="buttonText">locations</span></a></p>
  <p class="buttonText"><a id="linkButton" class="waves-effect waves-light btn"><span id="buttonText">button</span></a></p>
</div>
